
<div class="container-fluid">
    <h1>Login</h1>
    <label for="username"> Username </label>
    <input id="username" type="text"
           class="form-control"
           placeholder="Your username"/>

    <label for="password"> Passowrd </label>
    <input id="password" type="password"
           class="form-control"
           placeholder="Your password"/>

    <a class="btn btn-primary btn-block wd-btn-style"
       href="#!/profile">Login</a>
    <a class="btn btn-success btn-block wd-btn-style"
       href="#!/register">Register</a>
</div>