
<div class="container-fluid">
    <h1>Login</h1>

    <div ng-show="vm_log.message" class="alert alert-danger">
        {{vm.message}}
    </div>

    <label for="username"> Username </label>
    <input ng-model="username"
           id="username"
           type="text"
           class="form-control"
           placeholder="Your username"/>

    <label for="password"> Passowrd </label>
    <input ng-model="passwd"
           id="password"
           type="password"
           class="form-control"
           placeholder="Your password"/>

    <a ng-click="vm_log.login(username, passwd)"
       class="btn btn-primary btn-block wd-btn-style">
        Login
    </a>
    <a class="btn btn-success btn-block wd-btn-style"
       href="#!/register">
        Register
    </a>
</div>