input.form-control {
    margin-bottom: 5px;
}
.navbar-default {
    background-color: blue;
}
.navbar-default .navbar-brand {
    color: white;
}
ul {
    margin-top: 10px;
}
.navbar-default .navbar-text {
    color: white;
}

.navbar-text {
    margin-right: 15px;
}
/*.glyphicon {*/
    /*top: 17px;*/
/*}*/
body {
    padding-top: 60px;
    padding-bottom: 70px;
}