<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#wd-navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#!/zip/{{vm_movie.zip}}/theatre/{{vm_movie.theatreId}}">
                <span class="wd-back glyphicon glyphicon-chevron-left pull-left"></span>
            </a>
            <a class="wd-home-navbar-brand" href="#">
                Reserve Your Seat
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="wd-navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="!vm_movie.currentUser._id"
                class="wd-x">
                <a href="#!/login">Login</a>
                </li>
                <li ng-if="!vm_movie.currentUser._id">
                <a href="#!/register">Register</a>
                </li>
                <li ng-if="vm_movie.currentUser._id">
                <a ng-click="vm_movie.logout()">Logout</a>
                </li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
    <h4 ng-if="!vm_movie.movies[0]"> No movies playing today</h4>
    <h3 ng-if="vm_movie.movies[0]"> Movies playing at {{vm_movie.movies[0].showtimes[0].theatre.name}}</h3>

    <div ng-show="vm_movie.msg" class="alert alert-danger">
        {{vm_movie.msg}}
    </div>

    <ul class="list-group wd-ul">
        <li ng-repeat="movie in vm_movie.movies"
            class="list-group-item wd-ul-li">
            <div class="wd-cont-initial" ng-click="vm_movie.movieLongDetails(movie)">
                {{movie.title}}
                <!--{{movie.showtimes[0].theatre.name}}-->
            </div>
            <a ng-click="vm_movie.bookmarkMovie(movie)">
                <span class=" glyphicon glyphicon-heart-empty pull-right"></span>
            </a>
        </li>
    </ul>

</div>

<nav class = "navbar navbar-default navbar-fixed-bottom">
    <div class = "container">
        <div>
            <a href="#!/profile"
               data-toggle="tooltip"
               data-placement="right"
               title="Profile">
                <span class = "wd-navbar-right glyphicon glyphicon-user pull-right"></span>
            </a>
        </div>

        <div>
            <a href="#!/"
               data-toggle="tooltip"
               data-placement="right"
               title="Home">
                <span class = "glyphicon glyphicon-home wd-home-icon"></span>
            </a>
        </div>
    </div>
</nav>