<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#wd-navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="wd-home-navbar-brand" href="#">Reserve Your Seat
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="wd-navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="!vm_movie.currentUser._id"
                class="wd-x">
                <a href="#!/login">Login</a>
                </li>
                <li ng-if="!vm_movie.currentUser._id">
                <a href="#!/register">Register</a>
                </li>
                <li ng-if="vm_movie.currentUser._id">
                <a href="#!/profile">Profile</a>
                </li>
                <li ng-if="vm_movie.currentUser._id">
                <a ng-click="vm_movie.logout()">Logout</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div>
    <h3> Movie Details </h3>

    <h5> Title </h5>
    {{vm_movie.movieDetail.title}}

    <h5> Description </h5>
    {{vm_movie.movieDetail.longDescription}}

    <h5> Release Date</h5>
    {{vm_movie.movieDetail.releaseDate}}

    <h5> Cast </h5>
    <ul>
        <li ng-repeat="actor in vm_movie.movieDetail.topCast">
            {{actor}}
        </li>
    </ul>

    <h5> Directors </h5>
    <ul>
        <li ng-repeat="dir in vm_movie.movieDetail.directors">
            {{dir}}
        </li>
    </ul>

    <h5> Rating </h5>
    {{vm_movie.movieDetail.qualityRating.value}}

    <h5> Showtimes </h5>
    <ul>
        <li ng-repeat="showTime in vm_movie.movieDetail.showtimes">
            {{showTime.theatre.name}} {{showTime.dateTime}}
        </li>
    </ul>

</div>


<nav class = "navbar navbar-default navbar-fixed-bottom">
    <div class = "container">
        <div>
            <a href="#!/profile"
               data-toggle="tooltip"
               data-placement="right"
               title="Profile">
                <span class = "wd-navbar-right glyphicon glyphicon-user pull-right"></span>
            </a>
        </div>

        <div>
            <a href="#!/"
               data-toggle="tooltip"
               data-placement="right"
               title="Home">
                <span class = "glyphicon glyphicon-home wd-home-icon"></span>
            </a>
        </div>
    </div>
</nav>