
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#!/user/{{vm_widget_new.userId}}/website/{{vm_widget_new.websiteId}}/page/{{vm_widget_new.pageId}}/widget"
               class="navbar-link">
                <span class="wd-back glyphicon glyphicon-chevron-left pull-left"></span>
            </a>
            <a class="navbar-brand">
                Widget new
            </a>
            <a ng-click="vm_widget_new.createWidget(vm_widget_new.name, vm_widget_new.text, vm_widget_new.size.value,
            vm_widget_new.width, vm_widget_new.url, 'HEADING')"
               class="navbar-link">
                <span class="wd-navbar-right glyphicon glyphicon-ok pull-right"></span>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <label for="widget-name"> Name </label>
    <input id="widget-name"
           ng-model="vm_widget_new.name"
           type="text"
           class="form-control"
           placeholder="Your widget name"/>

    <label for="widget-text"> Text </label>
    <input id="widget-text"
           ng-model="vm_widget_new.text"
           type="text"
           class="form-control"
           placeholder="Text of heading"/>

    <label for="widget-text-size"> Size </label>
    <select class="form-control"
            ng-model="vm_widget_new.size"
            ng-options="option.name for option in vm_widget_new.sizeAll track by option.value"
            id="widget-text-size">
        <option value="" selected>--Select heading size--</option>
    </select>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div>
                <a href="#!/user/{{vm_widget_new.userId}}">
                    <span class="wd-navbar-right glyphicon glyphicon-user pull-right"></span>
                </a>
            </div>

        </div>
    </div>
</nav>