
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#!/user/{{vm_widget_new.userId}}/website/{{vm_widget_new.websiteId}}/page/{{vm_widget_new.pageId}}/widget"
               class="navbar-link">
                <span class="wd-back glyphicon glyphicon-chevron-left pull-left"></span>
            </a>
            <a class="navbar-brand">
                Choose Widget
            </a>
        </div>
    </div>
</nav>


<div class="container-fluid">

    <ul class="list-group">
        <li class="list-group-item wd-li">
            <!--<a href="#!/user/{{vm_widget_new.userId}}/website/{{vm_widget_new.websiteId}}/page/{{vm_widget_new.pageId}}/widget/new/heading">-->
                <!--Heading-->
            <!--</a>-->
            <a ng-click="vm_widget_new.createWidget(vm_widget_new.name, vm_widget_new.text, vm_widget_new.size.value,
            vm_widget_new.width, vm_widget_new.url, 'HEADING')">
                Heading
            </a>
        </li>
        <li class="list-group-item wd-li">
            <a>
                Label
            </a>

        </li>
        <li class="list-group-item wd-li">
            <a ng-click="vm_widget_new.createWidget(vm_widget_new.name, vm_widget_new.text, vm_widget_new.size.value,
            vm_widget_new.width, vm_widget_new.url, 'HTML')">
                HTML
            </a>

        </li>
        <li class="list-group-item wd-li">
            <a ng-click="vm_widget_new.createWidget(vm_widget_new.name, vm_widget_new.text, vm_widget_new.size.value,
            vm_widget_new.width, vm_widget_new.url, 'TEXTINPUT')">
                Text Input
            </a>

        </li>
        <li class="list-group-item wd-li">
            <a>
                Link
            </a>

        </li>
        <li class="list-group-item wd-li">
            <a>
                Button
            </a>

        </li>
        <li class="list-group-item wd-li">
            <!--<a href="#!/user/{{vm_widget_new.userId}}/website/{{vm_widget_new.websiteId}}/page/{{vm_widget_new.pageId}}/widget/new/image">-->
                <!--Image-->
            <!--</a>-->
            <a ng-click="vm_widget_new.createWidget(vm_widget_new.name, vm_widget_new.text, vm_widget_new.size.value,
            vm_widget_new.width, vm_widget_new.url, 'IMAGE')">
                Image
            </a>

        </li>
        <li class="list-group-item wd-li">
            <a>
                Link
            </a>

        </li>
        <li class="list-group-item wd-li">
            <!--<a href="#!/user/{{vm_widget_new.userId}}/website/{{vm_widget_new.websiteId}}/page/{{vm_widget_new.pageId}}/widget/new/youtube">-->
                <!--You Tube-->
            <!--</a>-->
            <a ng-click="vm_widget_new.createWidget(vm_widget_new.name, vm_widget_new.text, vm_widget_new.size.value,
            vm_widget_new.width, vm_widget_new.url, 'YOUTUBE')">
                You Tube
            </a>
        </li>
        <li class="list-group-item wd-li">
            <a>
                Data Table
            </a>

        </li>
        <li class="list-group-item wd-li">
            <a>
                Repeater
            </a>

        </li>

    </ul>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div>
                <a href="#!/user/{{vm_widget_new.userId}}">
                    <span class="wd-navbar-right glyphicon glyphicon-user pull-right"></span>
                </a>
            </div>

        </div>
    </div>
</nav>