
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#!/profile">
                <span class="wd-back glyphicon glyphicon-chevron-left pull-left"></span>
            </a>
            <a class="navbar-brand">
                Websites
            </a>
            <a href="#!/user/website/new">
            <span class="wd-navbar-right glyphicon glyphicon-plus pull-right"></span>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <ul class="list-group">
        <li ng-repeat="website in vm_web_list.websitesForUser" class="list-group-item wd-li">
            <a href="#!/user/website/{{website._id}}/page">
                {{website.name}}
            </a>
            <a href="#!/user/website/{{website._id}}">
                <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
        </li>
    </ul>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div>
                <a href="#!/profile">
                    <span class="wd-navbar-right glyphicon glyphicon-user pull-right"></span>
                </a>
            </div>

        </div>
    </div>
</nav>
