<div class="input-group wd-search-box">
    <input ng-model="vm_theatre.zipcode"
           type="text"
           class="form-control"
           placeholder="Enter zipcode to search theatres">
    <span class="input-group-btn">

        <a ng-click="vm_theatre.searchTheatresForZipcode(vm_theatre.zipcode)"
           class="btn btn-default"
           type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </span>
</div>


<div ng-if="vm_theatre.theatres">
    <h3> Search Results </h3>
    <h5> Click on theatre name to see details </h5>

    <ul class="list-group">
        <li ng-click="vm_theatre.searchTheatreDetailsForTheatreId(theatre.theatreId)"
            ng-repeat="theatre in vm_theatre.theatres"
            class="list-group-item">
            {{theatre.name}}
        </li>
    </ul>
</div>

<div ng-if="vm_theatre.theatreDetails">
    <h3> Details </h3>
    <h4> {{vm_theatre.theatreDetails.name}} </h4>

    <h5> {{vm_theatre.theatreDetails.location.address.street}} </h5>
    <h5> {{vm_theatre.theatreDetails.location.address.city}} </h5>
    <h5> {{vm_theatre.theatreDetails.location.address.state}} </h5>
    <h5> {{vm_theatre.theatreDetails.location.telephone}} </h5>

    <button class="btn btn-primary btn-block"
            ng-click="vm_theatre.searchMovies(vm_theatre.theatreDetails.theatreId)">
        Find Movies in this theatre
    </button>

</div>
