
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#wd-navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#!/zip/{{vm_theatre.zip}}">
                <span class="wd-back glyphicon glyphicon-chevron-left pull-left"></span>
            </a>
            <a class="wd-home-navbar-brand" href="#">
                Reserve Your Seat
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="wd-navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="!vm_theatre.currentUser._id"
                class="wd-x">
                <a href="#!/login">Login</a>
                </li>
                <li ng-if="!vm_theatre.currentUser._id">
                <a href="#!/register">Register</a>
                </li>
                <li ng-if="vm_theatre.currentUser._id">
                <a ng-click="vm_theatre.logout()">Logout</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid wd-theatre-det-align">
    <h4> {{vm_theatre.theatreDetails.name}} </h4>

    <h5> {{vm_theatre.theatreDetails.location.address.street}} </h5>
    <h5> {{vm_theatre.theatreDetails.location.address.city}} </h5>
    <h5> {{vm_theatre.theatreDetails.location.address.state}} </h5>
    <h5> {{vm_theatre.theatreDetails.location.telephone}} </h5>

    <button class="btn  wd-btn-style wd-btn-color"
            ng-click="vm_theatre.searchMovies(vm_theatre.theatreDetails.theatreId)">
        Find Movies in this theatre
     </button>

</div>


<nav class = "navbar navbar-default navbar-fixed-bottom">
    <div class = "container">
        <div>
            <a href="#!/profile"
               data-toggle="tooltip"
               data-placement="right"
               title="Profile">
                <span class = "wd-navbar-right glyphicon glyphicon-user pull-right"></span>
            </a>
        </div>

        <div>
            <a href="#!/"
               data-toggle="tooltip"
               data-placement="right"
               title="Home">
                <span class = "glyphicon glyphicon-home wd-home-icon"></span>
            </a>
        </div>
    </div>
</nav>