
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#!/user/{{vm_widget_edit.userId}}/website/{{vm_widget_edit.websiteId}}/page/{{vm_widget_edit.pageId}}/widget"
               class="navbar-link">
                <span class="wd-back glyphicon glyphicon-chevron-left pull-left"></span>
            </a>
            <a class="navbar-brand">
                Widget Edit
            </a>
            <a ng-click="vm_widget_edit.updateImageYoutubeWidget(vm_widget_edit.name, vm_widget_edit.text,
               vm_widget_edit.width, vm_widget_edit.url)"
               class="navbar-link">
                <span class="wd-navbar-right glyphicon glyphicon-ok pull-right"></span>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <label for="widget-image-name"> Name </label>
    <input id="widget-image-name"
           ng-model="vm_widget_edit.name"
           type="text"
           class="form-control"
           placeholder="Your widget name"/>

    <label for="widget-text"> Text </label>
    <input id="widget-text"
           ng-model="vm_widget_edit.text"
           type="text"
           class="form-control"
           placeholder="Description of image"/>

    <label for="widget-image-url"> URL </label>
    <input id="widget-image-url"
           ng-model="vm_widget_edit.url"
           type="text"
           class="form-control"/>

    <label for="widget-width"> Width </label>
    <input id="widget-width"
           ng-model="vm_widget_edit.width"
           type="text"
           class="form-control"/>

    <label> File </label>
    <form action="/api/upload"   method="post" enctype="multipart/form-data">
        <input  name="myFile"    type="file" class="form-control"/>
        <input  name="width"     value="{{vm_widget_edit.width}}" style="display: none"/>
        <input  name="userId"    value="{{vm_widget_edit.userId}}"   style="display: none"/>
        <input  name="websiteId" value="{{vm_widget_edit.websiteId}}"   style="display: none"/>
        <input  name="pageId"    value="{{vm_widget_edit.pageId}}"   style="display: none"/>
        <input  name="widgetId"  value="{{vm_widget_edit.widget._id}}"   style="display: none"/>
        <button type="submit"    class="btn btn-block btn-primary wd-btn-style">Upload Image</button>
    </form>

    <a href="#!/user/{{vm_widget_edit.userId}}/website/{{vm_widget_edit.websiteId}}/page/{{vm_widget_edit.pageId}}/widget/{{vm_widget_edit.widget._id}}/search"
       class="btn btn-info btn-block wd-btn-style">
        Search Flickr for Image
    </a>
    
    <a ng-click="vm_widget_edit.deleteWidget()"
       class="btn btn-danger btn-block wd-btn-style">
        Delete
    </a>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div>
                <a href="#!/user/{{vm_widget_edit.userId}}">
                    <span class="wd-navbar-right glyphicon glyphicon-user pull-right"></span>
                </a>
            </div>

        </div>
    </div>
</nav>