
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="wd-home-navbar-brand" href="#">Reserve Your Seat
            </a>
        </div>

    </div><!-- /.container-fluid -->
</nav>


<div class="container-fluid">

    <h3>Sign-in</h3>

    <div ng-show="vm_log.message" class="alert alert-danger">
        {{vm_log.message}}
    </div>

    <div class="row">


        <div class="col col-xs-12 col-sm-6">
            <form name="login"
                  novalidate
                  ng-submit="vm_log.login(vm_log.user.username,vm_log.user.password)">

                <label for = "username"> Username </label>
                <input type="text"
                       id="username"
                       ng-model="vm_log.user.username"
                       class="form-control wd-input-bg"
                       placeholder="Username"
                       name="username"
                       required/>
                <div ng-show="login.username.$invalid && login.$submitted"
                     class="error"> * Username is required</div>

                <label for = "password"> Passowrd </label>
                <input type="password"
                       id="password"
                       ng-model="vm_log.user.password"
                       class="form-control wd-input-bg"
                       placeholder="Password"
                       name="password"
                       required/>
                <div ng-show="login.password.$invalid && login.$submitted"
                     class="error"> * Password is required</div>

                <input type="submit"
                       class="btn btn-primary wd-btn-style"
                       value="Login">
            </form>


            <p class="wd-para"> Don't have an account? </p>
            <a class="btn btn-success wd-btn-style"
               href="#!/register">
                Sign-up
            </a>

            <p class="wd-para"> Already have a google or facebook account? Use them to login</p>
            <a href="/auth/project/google"
               class="btn btn-danger wd-btn-style">
                <span class="fa fa-google-plus"></span>
                Google
            </a>

            <a href="/auth/project/facebook"
               class="btn btn-primary wd-btn-style">
                <span class="fa fa-facebook"></span>
                Facebook
            </a>
        </div>
    </div>

</div>

<nav class = "navbar navbar-default navbar-fixed-bottom">
    <div class = "container">
        <div>
            <a href="#!/"
               data-toggle="tooltip"
               data-placement="right"
               title="Home">
                <span class = "glyphicon glyphicon-home wd-home-icon" style="right: 20px;"></span>
            </a>
        </div>
    </div>
</nav>
