

<nav class = "navbar navbar-default navbar-fixed-top">
    <div class = "container-fluid">
        <div class = "navbar-header">
            <a class = "wd-home-navbar-brand" href="#">
                Reserve Your Seat
            </a>
            <p class = "navbar-text pull-right">
                <a ng-click="vm_profile.update(vm_profile.user)"
                   class = "navbar-link"
                   data-toggle="tooltip"
                   data-placement="right"
                   title="Save">
                    <span class = "wd-navbar-right glyphicon glyphicon-ok pull-right"></span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class = "container-fluid">
    <h3> Profile </h3>
    <div ng-show="vm_profile.message" class="alert alert-danger">
        {{vm_profile.message}}
    </div>
    <form>
        <label for = "username">Username</label>
        <input readonly
               ng-model = "vm_profile.user.username"
               value = "Jim"
               type = "text"
               class = "form-control wd-input-bg"
               id = "username">

        <label for = "email">Email address</label>
        <input type = "email"
               ng-model = "vm_profile.user.email"
               class = "form-control wd-input-bg"
               id = "email"
               placeholder = "user@yourdomain.com">

        <label for = "first-name">First Name</label>
        <input type = "text"
               ng-model = "vm_profile.user.firstName"
               class = "form-control wd-input-bg "
               id = "first-name"
               placeholder = "Your First name">

        <label for = "last-name">Last Name</label>
        <input type = "text"
               ng-model = "vm_profile.user.lastName"
               class = "form-control wd-input-bg"
               id = "last-name"
               placeholder = "Your Last name">

        <label for = "password"> Change Passowrd </label>
        <input id = "password"
               ng-model = "vm_profile.user.pwd1"
               type = "password"
               class = "form-control wd-input-bg"
               placeholder = "Choose new password"/>

        <label for = "verifypassword"> Verify Passowrd </label>
        <input id = "verifypassword"
               ng-model = "vm_profile.user.pwd2"
               type = "password"
               class = "form-control wd-input-bg"
               placeholder = "Verify password"/>
    </form>

    <label ng-if="vm_profile.user.bookmarks[0]"> Your Bookmarks </label>

    <ul class="list-group wd-ul">

        <li ng-repeat="movie in vm_profile.user.bookmarks"
            class="list-group-item wd-ul-li">

            <div ng-click="vm_profile.movieLongDetails(movie.zip, movie.id)"
                 class="wd-cont-initial">
                {{movie.title}}
            </div>

            <a ng-click="vm_profile.removeBookmarkMovie(movie)"
               data-toggle="tooltip"
               data-placement="right"
               title="Remove from bookmarks">
                <span class=" glyphicon glyphicon-remove pull-right"></span>
            </a>

        </li>
    </ul>

    <label ng-if="vm_profile.user.favorite_theatre[0]"> Your Favorite Theatres </label>

    <ul class="list-group wd-ul">

        <li ng-repeat="theatre in vm_profile.user.favorite_theatre"
            class="list-group-item wd-ul-li">
            <div ng-click="vm_profile.showTheatreDetails(theatre)"
                 class="wd-cont-initial">
                {{theatre.name}}
            </div>
            <a ng-click="vm_profile.unfavoriteTheatre(theatre)"
               data-toggle="tooltip"
               data-placement="right"
               title="Remove from Favorites">
                <span class=" glyphicon glyphicon-remove pull-right"></span>
            </a>
        </li>
    </ul>

    <label ng-if="vm_profile.user.orders[0]"> Your Orders </label>

    <ul class="list-group wd-ul">

        <li ng-repeat="order in vm_profile.user.orders"
            class="list-group-item wd-ul-li">

            <div ng-click="vm_profile.movieLongDetails(movie.zip, movie.id)"
                 class="wd-cont-initial">
                {{order.movieId}} {{order.showtime}} {{order.seats}}
            </div>

        </li>
    </ul>

    <label ng-if="vm_profile.user.follows[0]"> You are following </label>

    <ul class="list-group wd-ul">

        <li ng-repeat="user in vm_profile.user.follows"
            class="list-group-item wd-ul-li">
            <div class="wd-cont-initial"
                 ng-click="vm_profile.showUserProfile(user)">
                {{user}}
            </div>
            <a ng-click="vm_profile.unfollowUser(user)"
               data-toggle="tooltip"
               data-placement="right"
               title="Unfollow">
                <span class=" glyphicon glyphicon-remove pull-right"></span>
            </a>
        </li>
    </ul>

    <label ng-if="vm_profile.user.following[0]"> Users following you </label>

    <ul class="list-group wd-ul">

        <li ng-click="vm_profile.showUserProfile(user)"
            ng-repeat="user in vm_profile.user.following"
            class="list-group-item wd-ul-li">
            {{user}}
        </li>
    </ul>

    <a ng-if="!vm_profile.admin._id"
       ng-click="vm_profile.searchMovies()"
       class = "btn btn-primary  btn-block wd-btn-style">
        Search Movies in Local theatres
    </a>

    <a ng-if="vm_profile.user.role === 'User'"
       ng-click="vm_profile.searchOtherUsers()"
       class = "btn btn-success  btn-block wd-btn-style">
        Search other users
    </a>

    <a ng-click="vm_profile.logout()"
       class = "btn btn-danger  btn-block wd-btn-style">
        Logout
    </a>
</div>

<nav class = "navbar navbar-default navbar-fixed-bottom">
    <div class = "container">
        <div>
            <a href="#!/profile"
               data-toggle="tooltip"
               data-placement="right"
               title="Profile">
                <span class = "wd-navbar-right glyphicon glyphicon-user pull-right"></span>
            </a>
        </div>

        <div>
            <a href="#!/"
               data-toggle="tooltip"
               data-placement="right"
               title="Home">
                <span class = "glyphicon glyphicon-home wd-home-icon"></span>
            </a>
        </div>

        <div ng-if="vm_profile.admin._id">
            <a
               href="#!/admin"
               data-toggle="tooltip"
               data-placement="right"
               title="Admin">
                <span class = "glyphicon glyphicon-eye-open wd-admin-icon"></span>
            </a>
        </div>
    </div>
</nav>
