
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a href="#!/">
                <span class="wd-back glyphicon glyphicon-chevron-left pull-left"></span>
            </a>
            <a class="wd-home-navbar-brand" href="#">
                Reserve Your Seat
            </a>
        </div>
    </div><!-- /.container-fluid -->
</nav>

<div class = "container-fluid">
    <div class="row">
        <div class="col col-xs-12 col-sm-6">
            <h3>Sign-up</h3>

            <div ng-show="vm_register.error" class="alert alert-danger">
                {{vm_register.error}}
            </div>


            <form name="register"
                  novalidate
                  ng-submit="vm_register.register(user, pwd1, pwd2)">

                <label for = "username"> Username </label>
                <input ng-model = "user"
                       id = "username"
                       type = "text"
                       class = "form-control wd-input-bg"
                       name="username"
                       required
                       placeholder = "Choose username"/>

                <div ng-show="register.username.$invalid && register.$submitted"
                     class="error"> * Username is required </div>

                <label for = "password"> Passowrd </label>
                <input ng-model = "pwd1"
                       id = "password"
                       type = "password"
                       class = "form-control wd-input-bg"
                       name="password"
                       required
                       placeholder = "Choose password"/>

                <div ng-show="register.password.$invalid && register.$submitted"
                     class="error"> * Password is required </div>

                <label for = "verifypassword"> Verify Passowrd </label>
                <input ng-model = "pwd2"
                       id = "verifypassword"
                       type = "password"
                       class = "form-control wd-input-bg"
                       required
                       name="verifyPass"
                       placeholder = "Verify password"/>

                <div ng-show="register.verifyPass.$invalid && register.$submitted"
                     class="error"> * Verify Password is required</div>

                <input type="submit"
                       class="btn btn-success btn-block wd-btn-style"
                       value="Sign-Up">
            </form>


            <a class = "btn btn-danger  btn-block wd-btn-style"
               href = "#!/login">
                Cancel
            </a>
        </div>

        <div class="col col-sm-6 hidden-xs wd-signup-info">
            <h4> Welcome to Reserve your seat.. sign-up to enjoy end-less movie coupons.
            Follow other user to see which movies they are interested in.</h4>
        </div>
    </div>
</div>

<nav class = "navbar navbar-default navbar-fixed-bottom">
    <div class = "container">
        <div>
            <a href="#!/"
               data-toggle="tooltip"
               data-placement="right"
               title="Home">
                <span class = "glyphicon glyphicon-home wd-home-icon" style="right: 20px;"></span>
            </a>
        </div>
    </div>
</nav>
