
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row">
        <div class="container-fluid">
            <div class="navbar-header col-sm-4 hidden-xs">
                <a href="#!/user/website/{{vm_page_new.websiteId}}/page">
                    <span class="wd-back glyphicon glyphicon-chevron-left pull-left"></span>
                </a>
                <a class="navbar-brand wd-split-navbar">
                    Pages
                </a>

                <a href="#!/user/website/{{vm_page_new.websiteId}}/page/new" class="navbar-link">
                    <span class="wd-navbar-right glyphicon glyphicon-plus pull-right"></span>
                </a>
            </div>
            <div class="navbar-header col-sm-8 col-xs-12">
                <div class="container-fluid">
                    <a class="wd-navbar-brand">
                        New Page
                    </a>
                    <a ng-click="vm_page_new.createPage(vm_page_new.name, vm_page_new.description)"
                       class="navbar-link">
                        <span class="wd-navbar-right glyphicon glyphicon-ok pull-right"></span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</nav>

<div class="row">
    <div class="container-fluid">
        <div class="col col-sm-4 hidden-xs wd-scroll-split">
            <ul class="list-group">
                <li ng-repeat="page in vm_page_new.pagesForWebsite"
                    class="list-group-item wd-li">
                    <a href="#!/user/website/{{vm_page_new.websiteId}}/page/{{page._id}}/widget">
                        {{page.name}}
                    </a>
                    <a href="#!/user/website/{{vm_page_new.websiteId}}/page/{{page._id}}">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </li>

            </ul>

        </div>
        <div class="col col-sm-8 col-xs-12">
            <label for="page-name"> Name </label>
            <input id="page-name"
                   ng-model="vm_page_new.name"
                   type="text"
                   class="form-control"
                   placeholder="New page name"/>
            <label for="page-description"> Title </label>
            <textarea id="page-description"
                      ng-model="vm_page_new.description"
                      class="form-control"
                      rows="5"
                      placeholder="New page title"></textarea>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-text">
            <div>
                <a href="#!/profile">
                    <span class="wd-navbar-right glyphicon glyphicon-user pull-right"></span>
                </a>
            </div>

        </div>
    </div>
</nav>
